
    <div id="container" style="display: inline-block">
        <nav class="navbar navbar-dark bg-dark">
            <a class="navbar-brand" style="font-family: Bree Serif">{{name}}</a>
        </nav>
        <div class="card" style="background-image: url(../assets/images/embossed-diamond.png)">
            <div class="card-body">
                <p class="card-text">Position: {{role}}</p>
                <p class="card-text">Empolyee ID: {{id}}</p>
                <p class="card-text">Email: <a href="" id="mail">{{email}}</a></p>
                <p class="card-text">Office: {{officeNumber}}</p>
            </div>
        </div>
    </div>


